<div class="row">
  <div class="col-md-6">
    <h2 style="color:cornflowerblue"><b>Happy  &amp; excited about XTantransh</b></h2><br>
   <h4> <p class="fonts">We, xTantransh belives in Coming together is a Begining; Keeping together is a Progress;
     Working together is Success. There are no secrets to success. It is the result of 
     preparation, hard work and learning from failure. </p></h4>
<hr>
   <h4><p class="fonts">xTantransh develops cross-platform Mobile Apps. Well-made cross-platform mobile
 app will carry the advantage that users on more than one platform have access to 
 your product or service.<p></h4>

  <div class="fonts">
  <h3 style="color:cornflowerblue"><blockquote>"It's fine to celebrate success but it is more 
      important to heed the lessons of failure."<br>
               <span>--xTantransh</span>
    </blockquote></h3>    
    </div>
  </div>
 <div class="col-md-6">
   <img src="../assets/xtantransh.jpg"/>
 </div>
</div>
<div class="row" style="background-color:darkgray">
  <h1 style="color:cornflowerblue;text-align:center">Our Services</h1>
<div class="col-md-4" sizer>  
  <h3 style="text-align:center">Developement</h3>
  <p class="fonts">We build Wordpress and custom plugins and back-end solutions.We build Wordpress
    and custom plugins and back-end solutions.We build Wordpress and custom plugins 
    and back-end solutions.</p>
</div>
<div class="col-md-4" sizer>  
  <h3 style="text-align:center">Web design</h3>
  <p class="fonts">

What you say and how you say it is as important as everything elseWhat
 you say and how you say it is as important as everything elseWhat you 
 say and how you say it is as important as everything else</p>
</div>

<div class="col-md-4" sizer>  
  <h3 style="text-align:center">iOS / Android / Windows</h3>
  <p class="fonts">

Specializing in product and photo journalistic style photographySpecializing
 in product and photo journalistic style photographySpecializing in product
  and photo journalistic style photography</p>
</div>
  
</div>
  <hr>
